<div class="col-2 vh-100">
  <nav class="col-2 sidebar bg-dark position-fixed" id="sidebar">
    <ul class="nav flex-column vertical-nav mt-2">
      <li class="nav-item fw-bold mb-4">
        <a class="nav-link" href="/dashboard"> DASHBOARD</a>
      </li>
      <li class="nav-item my-2">
        <a class="nav-link fw-normal" href="/dashboard/user"
          ><i class="fas fa-user"></i> User</a
        >
      </li>
      <li class="nav-item my-2">
        <a class="nav-link fw-normal" href="/dashboard/user-biodata"
          ><i class="fas fa-address-card"></i> User Profile</a
        >
      </li>
      <li class="nav-item my-2">
        <a class="nav-link fw-normal" href="dashboard/history"
          ><i class="fas fa-history"></i> Game History</a
        >
      </li>
    </ul>
  </nav>
</div>
